html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{
    color: black;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 15px;
    line-height: 1.5;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 5px solid black;
}

td,th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.table tr:nth-child(even){
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #A1C6D7;
    color: white;
}
.containerHome{
    justify-content: space-around;
    display: flex;
    width: 100%;
}

.container{
    width: 85%;
    margin: 0 auto;
    padding: 10px 0;
}
.quizContainer{
    text-align: center;
    border: 1px solid black;
}

form{
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 10px 0;
}

.myDIV{
    display: block;
}

.btns{
    text-align: center;
    /*color: blanchedalmond;*/
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
}
.btns:hover{
    opacity:1;
}

#submitBtn{
    right: 25%;
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
}
#submitBtn:hover{
    opacity:1;
}

.textBox{
    width: 80%;
}