html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}
div.container{
    margin: auto;
    width: 95%;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
}
input.submitBtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
}
input.submitBtn:hover {
    opacity:1;
}
